*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  line-height: 1.618;
  font-family: sans-serif;
  color: #444;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

h1 {
    margin: 5vh 0;
    color: #252525;
    opacity: 90%;
    font-size: 2rem;
}

fieldset,
button {
  border: 0;
}

/* layout of login section provided */
.login {
  height: 100%;
  padding: 30px;
  margin: 0 0 0 10vw;
}

.btn-active {
    color: #252525;
    opacity: 90%;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: transparent;
}

.btn-in-active {
    color: #252525;
    opacity: 60%;
    font-size: 1rem;
    background-color: transparent;
    margin-left: 1vw;
}

ul {
    list-style: none;
    opacity: 80%;
}

i {
    margin-right: 10px;
}

/* layout of call-to-action section provided */
.call-to-action {
  width: calc(100% - 500px);
  height: 100%;
  background: rgb(24, 48, 89);
  color: white;
  padding: 0 20px;
}

@media screen and (max-width: 800px) {
    .login {
       width: 100vw;
       min-width: 0px;
    }

    .call-to-action {
        visibility: hidden;
        width: 0vw;
    }
}