*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  line-height: 1.618;
  font-family: sans-serif;
  color: #444;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

h1 {
    margin: 5vh 0;
    color: #252525;
    opacity: 90%;
    font-size: calc(1.5vw + 1.5vh);
}

/* layout of login section provided */
.login {
  width: 30%;
  height: 100%;
  margin: 0 10vw;
  padding: 25vh 0;
}

button {
    border: 0;
    border-radius: 5px;
}

.btn-active {
    color: #252525;
    opacity: 90%;
    font-size: calc(1.25vw + 1.25vh);
    font-weight: bold;
    background-color: transparent;
}

.btn-in-active {
    color: #252525;
    opacity: 60%;
    font-size: calc(0.75vw + 0.75vh);
    background-color: transparent;
    margin-left: 1vw;
}

fieldset {
    border: 0;
}

input {
    border: 1px #444 solid;
    border-radius: 5px;
    display: block;
    margin: 2vh 0;
    padding: 10px;
    height: 5vh;
    min-height: 50px;
    width: 100%;
    font-size: calc(0.8vw + 0.8vh);
}

a {
    color: #444;
    opacity: 90%;
    display: block;
    margin-left: 5px;
    margin-bottom: 2vh;
    font-size: calc(0.6vw + 0.6vh);
}

.btn-btn-primary {
    display: block;
    margin-left: 5px;
    margin-bottom: 4vh;
    height: 4vh;
    min-height: 40px;
    width: 50%;
    background-color: rgb(40, 202, 116);
    color: #fefefe;
    font-size: calc(0.6vw + 0.6vh);
    font-weight: bold;
}

ul {
    list-style: none;
    opacity: 80%;
    font-size: calc(0.6vw + 0.6vh);
}

i {
    margin-right: 10px;
}

/* layout of call-to-action section provided */
.call-to-action {
  width: 70%;
  height: 100%;
  background: rgb(24, 48, 89);
  color: #fefefe;
}

@media screen and (max-width: 800px) {

    html,
    body {
        background: rgb(24, 48, 89);
        color: #fefefe;
    }

    h1 {
        font-size:  calc(2.25vw + 2.25vh);
        color: #fefefe;
    }

    .btn-active {
        font-size: calc(2vw + 2vh);
        color: #fefefe;
    }

    .btn-in-active {
        font-size: calc(1.5vw + 1.5vh);
        color: #fefefe;
    }

    .login {
       width: 90vw;
       min-width: 0px;
    }

    input {
        font-size: calc(1.5vw + 1.5vh);
    }

    a, .btn-btn-primary, ul {
        font-size: calc(1.2vw + 1.2vh);
        color: #fefefe;
    }

    .call-to-action {
        visibility: hidden;
        width: 0vw;
    }
}